
<%= form_for Picture.new, :html => {:multipart => true} do |f| %> 
 
<p>
  <%= f.file_field :photo, :id => "uploadify"%> </p>
  
<% end %>
<script>
<% key = Rails.application.config.session_options[:key] %>
  var uploadify_script_data = {};
  var csrf_param = $('meta[name=csrf-param]').attr('content');
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
  uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
  
  $(document).ready(function() {
  var uploadify_script_data = {};
  $('#uploadify').uploadify({
    swf             : '<%= asset_path("uploadify.swf") %>',
    uploader        : '<%= pictures_path %>',
    // buttonText      : 'Загрузить...',
    buttonCursor    : 'hand',
    height          : 20,
    auto            : true,
    multi           : true,
    removeCompleted : true,
    onUploadComplete : function(file) {
             $.ajax({
                url: "<%= get_thumb_pictures_path %>", 
                dataType: 'json', 
                type: 'get', 
                data: {file: file.name},
                complete: function(json) {
                  var obj = jQuery.parseJSON(json.responseText);
                  var str = '<tr>' +
                              '<td><img src="' + obj.thumb + '"></td>' +
                              '<td style="vertical-align: middle;">' +
                                '<a href="/pictures/' + obj.id + '" class="btn btn-mini" style="margin-right: 5px;">Show</a>' +
                                '<a href="/pictures/' + obj.id + '" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a>' +
                              '</td>' +
                            '</tr>';
                  $(str).prependTo($('tbody'));
                  // var obj = jQuery.parseJSON(json.responseText);
                  // console.log(obj.thumb);                               
                }  
              });
    },
    onUploadError : function(file, errorCode, errorMsg, errorString) {
      alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
    },
    formData        : uploadify_script_data
    // onUploadComplete : function(file) {
    //   alert(file);
    // }
  });
});
</script>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        
        <td><%= image_tag picture.image.thumb.url %></td>
        <td style="vertical-align: middle;">
          <%= link_to 'Show', picture_path(picture), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      picture_path(picture),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
